Node-red Flow/flows.json
[
    {
        "id":"9f300b89.fd354",
        "type":"tab",
        "label":"Flow 1",
        "disabled":false,
        "info":""
        },
    {
        "id":"9f1f4949.12df38",
        "type":"debug",
        "z":"9f300b89.fd354",
        "name":"",
        "active":true,
        "tosidebar":true,
        "console":false,
        "tostatus":false,
        "complete":"payload",
        "targetType":"msg",
        "x":710,
        "y":120,
        "wires":[]
    },
    {
        "id":"bf8808da.7a22d",
        "type":"function",
        "z":"9f300b89.fd354",
        "name":"parsing",
        "func":"msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":540,
        "y":220,
        "wires":[
            ["159bf5a1.635132","9f1f4949.12df38"]
            ]
    },
    {
        "id":"2f8aeb5f.26dfd4",
        "type":"ui_form",
        "z":"9f300b89.fd354",
        "name":"",
        "label":"",
        "group":"b675edaf.03e88",
        "order":1,
        "width":24,
        "height":2,
        "options":
        [
            {
                "label":"Enter your Input",
                "value":"text",
                "type":"text",
                "required":true,
                "rows":null
            }
        ],
        "formValue":{"text":""},
        "payload":"",
        "submit":"submit",
        "cancel":"cancel",
        "topic":"",
        "x":110,
        "y":280,
        "wires":
        [
            ["2518e04f.1ff7b8"]
        ]
    },
    {
        "id":"2518e04f.1ff7b8",
        "type":"function",
        "z":"9f300b89.fd354",
        "name":"input pasring",
        "func":"msg.payload=msg.payload.text;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":270,
        "y":260,
        "wires":
        [
            ["d1acf3a2.5c82e","e25557c.f7bfda8"]
        ]
    },
    {
        "id":"d1acf3a2.5c82e",
        "type":"ui_text",
        "z":"9f300b89.fd354",
        "group":"b675edaf.03e88",
        "order":2,
        "width":24,
        "height":1,
        "name":"",
        "label":"User",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":390,
        "y":360,
        "wires":[]
    },
    {
        "id":"159bf5a1.635132",
        "type":"ui_text",
        "z":"9f300b89.fd354",
        "group":"b675edaf.03e88",
        "order":3,
        "width":24,
        "height":6,
        "name":"",
        "label":"Bot",
        "format":"{{msg.payload}}",
        "layout":"col-center",
        "x":690,
        "y":360,
        "wires":[]
    },
    {
        "id":"e25557c.f7bfda8",
        "type":"watson-conversation-v1",
        "z":"9f300b89.fd354",
        "name":"Customer",
        "workspaceid":"d76120c5-0862-4cde-980b-c9f4c81567e8",
        "multiuser":false,
        "context":true,
        "empty-payload":false,
        "service-endpoint":"",
        "timeout":"",
        "optout-learning":false,
        "x":380,
        "y":140,
        "wires":[
            ["bf8808da.7a22d"]
            ]
    },
    {
        "id":"b675edaf.03e88",
        "type":"ui_group",
        "z":"",
        "name":"Chatbot",
        "tab":"ccdfc93c.d66e28",
        "order":1,
        "disp":true,
        "width":24,
        "collapse":false
    },
    {
        "id":"ccdfc93c.d66e28",
        "type":"ui_tab",
        "z":"",
        "name":"Customer Care",
        "icon":"",
        "disabled":false,
        "hidden":false
    }
]